﻿@using MoneyTransfer.ViewModels
@model User

<h2>Ваши личные данные</h2>
<form method="post" asp-controller="Account" asp-action="HomeUserPage">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="@Model.Email">Ваша почта: </label>
        <label asp-for="@Model.Email">@Model.Email</label><br />
    </div>
    <div>
        <label asp-for="@Model.PersonalAccount">Ваш лицевой счет: </label>
        <label asp-for="@Model.PersonalAccount">@Model.PersonalAccount</label><br />
    </div>
    <div>
        <label asp-for="@Model.Balance">Ваш баланс: </label>
        <label asp-for="@Model.Balance">@Model.Balance</label><br />
    </div>
   
</form>