﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.TransactionsViewModel



<h2>Создание транзакции</h2>
<form method="post" asp-controller="Transactions" asp-action="CreateTransaction">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="PersonalAccountOut"></label><br />
        <input asp-for="PersonalAccountOut" />
        <span asp-validation-for="PersonalAccountOut"></span>
    </div>
    <div>
        <label asp-for="Summa"></label><br />
        <input asp-for="Summa" />
        <span asp-validation-for="Summa"></span>
    </div>
    <div>
        <label asp-for="PersonalAccountIn"></label><br />
        <input asp-for="PersonalAccountIn" />
        <span asp-validation-for="PersonalAccountIn"></span>
    </div>
    <div>
        <input type="submit" value="Перевести" />
    </div>
</form>