﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.TransactionsViewModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["TransactionsAbout"]</h2>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Transactions" asp-action="CreateTransaction">@Localizer["Transfer"]</a>
    <br/>
    <a asp-controller="Transactions" asp-action="MyTranzaction">@Localizer["MyTranzaction"]</a>
}
<br />
<a asp-controller="Transactions" asp-action="ReplenishmentOfFunds">@Localizer["Replenishment"]</a>


