﻿@using MoneyTransfer.ViewModels
@model IQueryable<Transactions>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<h2>@Localizer["YoursTranzaction"]</h2>
<table class="table">
    <tr>
        <th>@Localizer["FromWhom"]</th>
        <th>@Localizer["To"]</th>
        <th>@Localizer["Summa"]</th>
        <th>@Localizer["Data"]</th>
    </tr>
    <tr>
        @foreach (Transactions transactions in @Model)
        {
            <td>@transactions.PersonalAccountOut</td>
            <td>@transactions.PersonalAccountIn</td>
            <td>@transactions.Summa</td>
            <td>@transactions.DateTime</td>
        }
    </tr>
</table>